@use 'variable.sass'

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'arial'

body
    background: variable.$primaryColor
    font-size: 16px

a
    text-decoration: none
    color: white

ul
    list-style-type: none